.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.map-toggle-button {
  background-color: #007bff; 
  color: white; 
  border: none;
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  margin-top: 15px;  
  margin-left: 40px; 
}


.map-toggle-button:hover {
  background-color: #0056b3; 
}

.map-toggle-button:focus {
  outline: none; 
}

.map-toggle-button:active {
  background-color: #00408a;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.loading-spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #007bff; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.custom-select-box {
  width: 400px; 
  padding: 10px; 
  font-size: 16px; 
  border-radius: 5px; 
  background-color: #f8f9fa; 
  color: #333; 
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  background-repeat: no-repeat;
  background-position: right 10px center; 
  background-size: 10px; 
  cursor: pointer; 
  transition: border-color 0.3s ease, background-color 0.3s ease; 
}


.custom-select-box:focus {
  outline: none; 
}


.custom-select-box option {
  background-color: #f8f9fa; 
  color: #333; 
}
.App {
  background-color: #f0f8ff; 
  min-height: 100vh;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
}

.data-card {
  background-color: #c6d7e9; 
  border: 1px solid #ced4da; 
  border-radius: 8px; 
  padding: 10px; 
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  text-align: center; 
  width: 300px; 
  font-size: 14px;
  margin-left: 770px; 
}

.cases-row {
  display: flex;
  justify-content: center; 
  margin: 5px 0; 
}

.cases-row p {
  margin-right: 15px; 
}

.cases-row p:last-child {
  margin-right: 0; 
}
